html {
  scroll-behavior: smooth;
  border: 0;
  padding: 0;
  margin: 0;
  width: 10rem;
  color: white;
}
body {
  width: 10rem;
  min-width: 320px;
  background-color: #282828;
  padding: 0;
  border: 0;
  margin: 0 auto;
}
ul {
  list-style: none;
  padding: 0;
  border: 0;
  margin: 0;
}
a {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: start;
}
input {
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
}
h4 {
  margin: 0;
  padding: 0;
  border: 0;
}
